.box {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.premier {
    width: 100%;
    font-size: 20px;
}

@media (max-width: 486px) {
    .premier {
        font-size: 14px;
    }
}
@media (max-width: 321px) {
    .premier {
        font-size: 13px;
    }
}