.teamdata {
    width: 23%;
    margin: 10px 1% 10px 1%;
    box-sizing: border-box;
    float: left;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
}
.team-logo {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-logo img {
    width: 60%;
    height: 140px;
}
.team-name {
    text-align: center;
}
.team-name strong {
    font-size: 20px;
    font-family: 'RocknRoll One', sans-serif;
}
.shortDes {
    font-size: 14px;
}
.team-description {
    text-align: center;
    margin: 10px 0 20px;
}
.team-description button {
    background: #fff;
    color: #3A42FF;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 14px;
    border: 1px solid #3A42FF;
    border-radius: 4px;
    transition: background .5s;
    cursor: pointer;
}
.team-description button:hover {
    background: #3A42FF;
    color: #fff;
}
.team-description button span {
    font-size: 12px;
}



@media (max-width: 1020px) {
    .teamdata {
        width: 31%;
    }
}
@media (max-width: 768px) {
    .teamdata {
        width: 48%;
    }
}
@media (max-width: 486px) {
    .teamdata {
        width: 98%;
    }
}