.teamdata {
    width: 23%;
    margin: 10px 1% 10px 1%;
    box-sizing: border-box;
    float: left;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
}
.team-logo {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-logo img {
    width: 60%;
    height: 140px;
}
.team-name {
    text-align: center;
}
.team-name strong {
    font-size: 20px;
    font-family: 'RocknRoll One', sans-serif;
}
.shortDes {
    font-size: 14px;
}